<body>

  <div class="charts-container" *ngIf="isLoggedIn">
    <h2 class="text-center text-white mb-4">Dashboard Overview</h2>
    <div class="chart" id="employee-chart">
      <h5>Employees</h5>
      <canvas id="employeeChart"></canvas>
    </div>
    <div class="chart" id="performance-chart">
      <h5>Reviews</h5>
      <canvas id="performanceChart"></canvas>
    </div>
    <div class="chart" id="feedback-chart">
      <h5>Feedbacks</h5>
      <canvas id="feedbackChart"></canvas>
    </div>
    <div class="chart" id="report-chart">
      <h5>Reports</h5>
      <canvas id="reportChart"></canvas>
    </div>
  </div>

<div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="picsum-img-wrapper">
        <img class="d-block w-100" style="height: 600px;" src="\hello.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption animate__animated animate__fadeIn">
        <h1>Employee Performance and Feedback Management System</h1>
        <p>Empowering growth, fostering feedback. Your journey to excellence starts here!</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="picsum-img-wrapper">
        <img class="d-block w-100" style="height: 600px;" src="\teammates.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption animate__animated animate__fadeIn">
        <h1>Constructive Feedback</h1>
        <p>Encourage improvement through meaningful feedback. Strengthen teamwork, build success.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="picsum-img-wrapper">
        <img class="d-block w-100" style="height: 600px;" src="\status.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption animate__animated animate__fadeIn">
        <h1>Performance Insights</h1>
        <p>Track progress. Elevate performance.</p>
      </div>
    </div>
  </div>
  <!-- Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<app-footer></app-footer>
</body>



