.logo {
    height: 50px; /* Adjust as needed */
    width: auto;
    transition: transform 0.3s ease-in-out;
    margin-left: 0 !important; /* Ensures no extra left margin */
    padding-right: 30px !important ;/* Removes any left padding */
    display: block; /* Ensures proper alignment */

}

.logo:hover {
    transform: scale(1.1); /* Slight zoom effect */
}

.navbar-brand {
    margin-left: 0 !important; /* Pushes logo to the left */
    padding-left: 0 !important;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold;
}

.navbar-nav .active-link {
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold; /* Apply text shadow for active links */
}

.navbar-toggler {
    border: none;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background: linear-gradient(90deg, gold, yellow, gold);
    color: black;
    animation: shine 1s infinite linear;
}

.button-gif {
  width: 30px; /* Adjust size to match button height */
  height: 30px; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the GIF fits properly */
}
