<footer class="custom-footer text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Company Info -->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0 text-center text-md-start">
          <h5 class="fw-bold text-lavender">Performo</h5>
          <p>
            Enhance productivity and growth with real-time performance tracking and constructive feedback. Empower employees to excel with insightful evaluations and career development tools.
          </p>
        </div>
   
        <!-- Contact Info -->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0 text-center text-md-start">
          <h5 class="fw-bold text-lavender">Contact Us</h5>
          <address>
            <p><i class="fas fa-map-marker-alt"></i> Chennai</p>
            <!-- <p><i class="fas fa-phone"></i> <a href="tel:+911234567890" class="footer-link">+91 1234567890</a></p> -->
            <p><i class="fas fa-envelope"></i> <a href="mailto:info@performo.com" class="footer-link">info&#64;Performo.com</a></p>
          </address>
        </div>
      </div>
   
      <div class="row mt-4">
        <div class="col text-center">
          <p class="mb-0 text-lavender">&copy; 2025 Performo. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>