.login-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box-container {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.login-gif {
  width: 50%; /* Take half the width of the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the GIF fits properly */
}

.login-box {
  padding: 30px;
  width: 50%; /* Take half the width of the container */
  text-align: center;
}

h2 {
  font-weight: bold;
  color: #333;
}
