<div
  class="login-container"
  [ngStyle]="{
    'background-image': 'url(\admin.jpg)'
  }"
>
  <div class="login-box shadow p-4 rounded">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <!-- Username Input Field -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          ngModel name="username"
          class="form-control"
          placeholder="Enter your username"
          required>
        <div *ngIf="loginForm.submitted && loginForm.controls['username']?.invalid" class="text-danger">
          Please enter your username.
        </div>
      </div>

      <!-- Password Input Field -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          ngModel name="password"
          class="form-control"
          placeholder="Enter your password"
          required>
        <div *ngIf="loginForm.submitted && loginForm.controls['password']?.invalid" class="text-danger">
          Password is required.
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
</div>
